* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif ;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    
}
 
.nav a{
    text-decoration: none;
    color: #E5E7EB;
    border: 3px solid rgb(80, 156, 156);
    border-radius: 12px;
    padding: 5px;
}

.nav-bar a:hover{
    color: lightblue;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 35px;
}

.container img{
    width: 120px;
    height: 120px;
}

.nav-bar {
    color: white;
    background-color: #1F2937;
    height: 70px;
}

.titulo{
    font-size: 24px;
    color: #F9FAf8;
    font-weight: 600;
}

.nav-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-bar ul{
    display: flex;
    gap: 20px;
}


.header {
    background-color: #1F2937;
    min-height: 400px;
}

.header img{
    width: 500px;
    height: 250px;
}

.header h1{
    color: #F9FAf8;
    font-size: 48px;
    font-weight: bolder;
    width: 350px;
}

.header .container{
    display: flex;
    align-items: center;
    min-height: 300px;
    justify-content: space-between;
}

.header-subtext{
    font-size: 18;
    color: #E5E7EB;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 400px;
}

.button-sign{
    background-color: #3882F6;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid white;
    color: #F9FAf8;
    font-weight: 500;
    font-size: 18px;
}

.boxes .container{
    display: flex;
    text-align: center;
    justify-content: center;
    min-height: 300px;
    gap: 45px;
}

.main2{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 25px;
    margin-top: 35px;
}

.box{
    max-width: 200px;
}

.box p{
    font-size: 18px;
    font-style: italic;
}

.quoting .container{
    display: flex;
    min-height: 450px;
    justify-content: center;
    align-items: center;
}

.quoting{
    background-color: #E5E7EB;

}

.quoteT{
    font-size: 36px;
    font-style: italic;
    color: #94a1b3;
}

.quoting .quoteactor{
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
    
}

.ad .container {
    display: flex;
    min-height: 150px;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ad-text p{
    display: flex;
    color: white;
}

.primer-texto{
    font-size: 24px;
    font-weight: bold;
}

.segundo-texto{
    font-style: italic;
    font-size: 18px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: #1F2937;
    color: white;
    font-style: italic;
}

